.footer {
    padding: 109px 0px;
}

.fot {
    
    display: flex;
    column-gap: 46px;
    background: #FDEDE8;
    border: 1px solid #FAD0BC;
    border-radius: 15px;
    position: relative;

}


.fot i {
    padding: 50px 0px 50px 24px;
}

.fot .icon {
    width: 24px;
    height: 35px;
}

.fot .ut h4{
    padding-top: 30px;
    font-family: "REM", sans-serif;
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
}
.fot .ut p{
    width: 240px;
    font-family: "REM", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}
.fot .lot{
    width: 1px;
    height: 82px;
    background: #FAD0BC;
    position: absolute;
    top: 26px;
    left: 73px;
}

 @media (max-width: 575px){
    .fot{
        max-width: 100%;
        row-gap: 20px;
        

    }
    .fot .ut h4{
    font-size: 16px;
    
}
    .fot .ut p{
    font-size: 12px;
    max-width: 90%;
    
}

    
}
